body {
    background-color: grey;
    color: #fff;
    font-family: "Lato", sans-serif;
  }

  .ar-object.active {
    transform: scale(2);
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #place-button{
    background-color: #3e8e41;
  }

    #force-button{
    background-color: #E74C3C;
  }

    .button {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 50px);
    width: 100px;
    height: 35px;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 0 9px #999;
    border-radius: 15px;
    display: none;
  }

    .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  #VRButton{
    margin-bottom: 70px !important;
  }

.bg-image {
  /* The image used */
  background-image: ("./textures/diff.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
#mobileInterface {
  position: fixed;
  width: calc(100% - 20px);
  height: 50vh;
  pointer-events: none;
  z-index: 11;
  top: auto;
  bottom: 120px;
  left: 10px;
  touch-action: manipulation;
}
#mobileInterface #joystickWrapper1 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 120px;
  height: 120px;
  z-index: 12;
  touch-action: manipulation;
  background-color: rgba(255, 0, 0, 0.2);
}
#mobileInterface #joystickWrapper2 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  background-color: transparent;
  width: 50vw;
  height: 140px;
  z-index: 12;
  touch-action: manipulation;
  display: none;
}
#mobileInterface #joystickWrapper2 #jumpButton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
#mobileInterface #joystickWrapper2 #jumpButton p {
  position: relative;
  display: inline-block;
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  margin-left: 4px;
}

#mobileInterface {
  position: fixed;
  width: calc(100% - 20px);
  height: 50vh;
  pointer-events: none;
  z-index: 11;
  top: auto;
  bottom: 120px;
  left: 10px;
  touch-action: manipulation;
}
#mobileInterface #joystickWrapper1 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 120px;
  height: 120px;
  z-index: 12;
  touch-action: manipulation;
  background-color: rgba(255, 0, 0, 0.2);
}
#mobileInterface #joystickWrapper2 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  background-color: transparent;
  width: 50vw;
  height: 140px;
  z-index: 12;
  touch-action: manipulation;
  display: none;
}
#mobileInterface #joystickWrapper2 #jumpButton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
#mobileInterface #joystickWrapper2 #jumpButton p {
  position: relative;
  display: inline-block;
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  margin-left: 4px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
